<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435668675151-09b3jkphsbvckhofpff492e8f579u995.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435668675151-09b3jkphsbvckhofpff492e8f579u995</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435668675151-f4dkmm5dj4l0oqau0qrds3e0jp0sk680.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVZGVQly_6hZZAgpuzs74qc0dIZqFAs3M</string>
	<key>GCM_SENDER_ID</key>
	<string>435668675151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cw.gftd</string>
	<key>PROJECT_ID</key>
	<string>gift-td</string>
	<key>STORAGE_BUCKET</key>
	<string>gift-td.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435668675151:ios:d52b165f759e56ce8c183a</string>
	<key>DATABASE_URL</key>
	<string>https://gift-td.firebaseio.com</string>
</dict>
</plist>